body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainPages{
  padding-left: 320px;
  margin-right: 10px;
}

/*--------------------- view Foods  List --------------------------*/
@import url("./Components/KitchenManager/Menu/foods.css");


/*--------------------- Detail Food --------------------------*/
@import url("./Components/KitchenManager/Details/detailProducts.css");

/*--------------------- Detail Category --------------------------*/
@import url("./Components/KitchenManager/Details/detailCategoryKM.css");

/*--------------------- Add Food --------------------------*/
@import url("./Components/KitchenManager/Menu/addFoods.css");

/*--------------------- Add Messages --------------------------*/
@import url("./Components/KitchenManager/Meesages/addMessagesKM.css");

/*--------------------- view Category  List --------------------------*/
@import url("./Components/KitchenManager/category/view/kmlistc.css");

 